.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url("/src/assets/stage0.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 1s;
}

.stage-1 {
    background: url("/src/assets/stage1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.stage-2 {
    background: url("/src/assets/stage2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.stage-3 {
    background: url("/src/assets/stage3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.stage-4 {
    background: url("/src/assets/stage4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.stage-5 {
    background: url("/src/assets/stage5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.start-game {
    font-size: 70px;
    background-color: rgb(118, 0, 228);
    border-radius: 30px;
    border: none;
    transition: all 0.2s;
    position: absolute;
    z-index: 100;
}

.start-game:hover {
    background-color: rgb(158, 55, 255);
}

.disabled {
    opacity: 0;
    display: none;
}

.buttons-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.stage1btn {
    width: 30rem;
    height: 20rem;
    top: 0;
    /* background-color: aliceblue; */
    position: absolute;
    cursor: pointer;
}

.stage2btn {
    width: 30rem;
    height: 30rem;
    bottom: 10rem;
    /* background-color: aliceblue; */
    position: absolute;
    cursor: pointer;
}

.stage3btn {
    width: 40rem;
    height: 20rem;
    bottom: 10rem;
    left: 40rem;
    position: absolute;
    /* background-color: aliceblue; */
    cursor: pointer;
}

.stage4btn {
    width: 30rem;
    height: 30rem;
    top: 20rem;
    left: 70rem;
    position: absolute;
    /* background-color: aliceblue; */
    cursor: pointer;
}

.stage5btn {
    width: 40rem;
    height: 30rem;
    top: 5rem;
    right: 0;
    position: absolute;
    /* background-color: aliceblue; */
    cursor: pointer;
}

.vroom-game {
    position: absolute;
    top: 20rem;
    z-index: 100;
    font-size: 100px;
}
